<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>back2.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>back3.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>background1.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>exit.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fort1.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>1444</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fort2.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>1583</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>no.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>1717</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>pause.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>1816</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tafang.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>147</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tankbut1.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>149</integer>
				<key>y</key>
				<integer>1284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tankbut2.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>219</integer>
				<key>y</key>
				<integer>1284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>text1.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>1284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>text2.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>191</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>468</integer>
				<key>y</key>
				<integer>1284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>text3.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>661</integer>
				<key>y</key>
				<integer>1284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>text4.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>838</integer>
				<key>y</key>
				<integer>1284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>text5.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>191</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>1015</integer>
				<key>y</key>
				<integer>1284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wuzhaung.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1208</integer>
				<key>y</key>
				<integer>1284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yes.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>1360</integer>
				<key>y</key>
				<integer>1284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>滑动条底图.png</key>
			<dict>
				<key>width</key>
				<integer>291</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>291</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>1459</integer>
				<key>y</key>
				<integer>1284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>背景板2.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>480</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>480</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>节点.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>进度100.png</key>
			<dict>
				<key>width</key>
				<integer>416</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>416</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>527</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>图片/begin.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>945</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>图片/return.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>1044</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>图片/set.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>1143</integer>
				<key>y</key>
				<integer>1436</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Ui0.png</string>
			<key>realTextureFileName</key>
			<string>Ui0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>